<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My app</title>
</head>
<body>
    <center><h1>My Daily checklist </h1></center> 
<form action="/insert" method="post">        
    <input type="text" name="c_name">
    <button type="submit">Add</button> 
</form>
     Resent Task adedd: {{c_name}}

    <center><h1>Added Tasks </h1></center> 
    {% for i in my_list %}
    {{i.c_id}} | {{i.c_name}} <br>     <a href="/delete/{{i.c_id}}" >Delete</a> <br><br>

    {% endfor %}


</body>
</html>